# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment variables & secrets
.env
.env.*
!.env.example
*.env
app.env

# Logs
*.log
